#footer {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* background-color: cornflowerblue; */
    background-color: rgb(37, 42, 44);
    /* margin-left: 5%;
    margin-right:5%; */
}